/* Stylesheet for the about page
Author: Francesco Gioia
Last Modified: 06/06/2025*/

#main-div {
  padding-top: 6em;
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
  animation: fade-in-down 2s ease;
}
main {
  max-width: 65%;
  padding-right: 2em;
}
aside {
  max-width: 20%;
}
@keyframes fade-in-down {
  /* Animation to make the main area fade in*/
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* RULES FOR SMALL SCREENS */
@media screen and (max-width: 768px) {
  #main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  aside,
  main {
    padding: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  aside h2 {
    width: 90vw;
  }
  aside p {
    width: 90vw;
  }
}
