/* A General Stylesheet that contains the rules for all the pages
Author: Francesco Gioia
Last Modified: 06/06/2025*/

body {
  font-family: "Helvetica Neue", sans-serif;
  color: #222224;
}
header {
  background-color: #f00000;
  padding-top: 1em;
  padding-left: 1.5em;
  padding-bottom: 1em;
  display: flex;
  position: fixed;
  z-index: 999;
  width: 100%;
}
#header-nav-ul {
  display: flex;
}
header li {
  font-size: 2em;
  padding-left: 0.5em;
}
ul {
  list-style: none;
}
a {
  font-weight: 700;
  text-decoration: none;
  color: white;
}
a:hover {
  color: black;
}
#pokemon-logo {
  max-height: 4em;
  max-width: 4em;
}
#pokemon-logo:hover {
  animation: bounce 2s ease infinite;
}
@keyframes bounce { 
  /* This is the animation used to make the pokemon logo bounce at hover */
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(-15%);
  }
  20% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(-7%);
  }
  40% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0%);
  }
}
button {
  background-color: white;
  border-radius: 2em;
}
button:hover {
  color: white;
  background-color: #222224;
  border-radius: 4px;
  border: 3px solid #222224;
}
#submit-button {
  border: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 30%;
  border: 0.2rem solid white;
  border-radius: 2rem;
  background-color: rgba(240, 0, 0, 1);
  color: white;
  font-weight: 700;
}
#submit-button:hover {
  background-color: white;
  color: rgba(240, 0, 0, 1);
}
footer {
  background-color: rgba(240, 0, 0, 1);
  padding-top: 2em;
  padding-bottom: 5em;
  display: block;
  color: white;
}
#footer-columns {
  display: flex;
  width: 100%;
  justify-content: center;
}
#footer-contact {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
#column-left {
  width: 30%;
}
.tos {
  display: flex;
  gap: 0.5rem;
}
.current-selected {
  color: #222224;
}

/* RULES FOR SMALL SCREENS */
@media screen and (max-width: 768px) {
  header {
    height: 100vh;
  }
  #header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #header-nav-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #submit-button {
    width: 80%;
    border-radius: 1em;
  }
}
